<div class='recipe'>
  <h2>Title</h2>
  <p>Calories</p>
  <p>Health Labels</p>
  <a href='stepURL'>
    <img src='https://via.placeholder.com/100' alt='placeholder'>
   </a>
   <form class='hiddenData' action='' method="POST">
    <input class="info" type="text" name="title" value=' recipe.title'>
    <input class="info" type="text" name="ingredients" value=' recipe.ingredients'>
    <input class="info" type="text" name="calories" value=' recipe.calories '>
    <input class="info" type="text" name="steps" value=' recipe.steps'>
    <input class="info" type="text" name="image_url" value='recipe.image_url'>
    <input class="info"type="text" name="healthLabels" value=' recipe.healthLeables '>
    <button type='submit'>Save your recipe!</button>
   </form>
</div>