<% if (typeof recipes !== 'undefined') { %>

  <% recipes.forEach(function(recipe){ %>
    <div class='recipe'>
      <h2 id="title"><%= recipe.title %> </h2>
      <a href=<%= recipe.steps %>>Directions</a>
      <img id="img_url" src=<%= recipe.image_url %> />
      <form class='hiddenData recipeForm' action='/deleteRecipe' method="POST">
        <input class="info" type="hidden" name="id" value="<%= recipe.id %>">
        <button type='submit' class="delete-btn">Delete your recipe!</button>
       </form>
      </div>
    <% }) %>
</div>

<% } %>