<div id='ticker'>
  <h2 id="tickerInfo"></h2>
</div>

<script type='text/javascript'>

'use strict'

fetch('https://covidtracking.com/api/v1/states/wa/current.json')
  .then(response => response.json())
  .then(data => {
    let state = data.state;
    let tests = data.totalTestResults;
    let negative = data.negative;
    let positive = data.positive;
    let update = data.lastUpdateEt;

    $('#tickerInfo').on('load').html(
      '<p>Covid-19 data for: </p>  <p class="green">   ' 
      + state + 
      '  </p> <p> state... Total tests administered:  </p> <p class="green"> ' 
      + tests + 
      '</p> <p>... Positive tests: </p> <p class="green"> ' 
      + positive + 
      '</p> <p>... Negative tests: </p> <p class="green">'
      + negative + 
      '</p> <p>... Last updated:</p> <p class="green"> ' 
      + update + 
      '</p><p>...</p>')
  })
  .catch(function(error){
    console.log(error)
  })

</script>

