<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarantine Survival Kit</title>
  </head>
  <body>
    <header>
      <h1>Quarantine Survival Kit</h1>
    </header>
    <main>
      <form action='/getUsername' method="POST">
        <p>Enter your user name</p>
        <input type="text" name="username">
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>