<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
  
  <title>Quarantine Survival Kit</title>
</head>
<body>
  <header>
 <a href='/home'>
  <img src="/assets/Logo.svg" alt="logo">  
</a> 
<h1>Quarantine Survival Kit</h1>

<a href='/favorites'>
  <article id="favorites">
    <img id="heart" src="/assets/heart.svg" alt="heart">
  </article>
</a>
<form action="/clearCookie" method="POST">
  <button type="submit">logout</button>
</form>
</header>
  
<%- include('./partials/ticker') %>

  <main> 
<article id="movies">
  <svg id="movieImage" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
  width="50" height="50"
  viewBox="0 0 172 172"
  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#34373d"><path d="M169.27219,51.9225l-10.66937,-10.66937c-1.23625,-1.23625 -3.21156,-1.34375 -4.58219,-0.25531c-3.07719,2.4725 -6.51719,3.72219 -10.22594,3.72219c-8.9225,0 -16.16531,-7.25625 -16.16531,-16.16531c0,-3.70875 1.24969,-7.14875 3.70875,-10.23937c1.10187,-1.37063 0.99437,-3.34594 -0.24188,-4.58219l-10.66937,-10.65594c-3.62813,-3.64156 -10.18563,-3.62812 -13.80031,-0.01344l-18.44969,18.32875l4.73,4.73c1.34375,1.34375 1.34375,3.52063 0,4.86438c-0.67188,0.67187 -1.55875,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781l-4.74344,-4.74344l-80.57125,80.03375c-1.81406,1.81406 -2.80844,4.25969 -2.80844,6.89344c0,2.64719 0.99437,5.09281 2.80844,6.90687l10.66937,10.66938c1.23625,1.23625 3.19813,1.35719 4.58219,0.25531c3.26531,-2.62031 7.02781,-4.07156 10.57531,-4.07156c8.90906,0 16.16531,7.25625 16.16531,16.16531c0,3.91031 -1.3975,7.61906 -3.93719,10.4275c-1.22281,1.37063 -1.16906,3.44 0.13437,4.74344l10.65594,10.65594c1.81406,1.81406 4.27312,2.82187 6.90687,2.82187c2.63375,0 5.09281,-1.00781 6.90688,-2.82187l80.3025,-80.3025l-4.67625,-4.66281c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437c1.35719,-1.34375 3.52062,-1.34375 4.86437,0l4.67625,4.66281l18.22125,-18.22125c1.89469,-1.51844 3.07719,-3.77594 3.25188,-6.24844c0.18812,-2.74125 -0.81969,-5.42875 -2.75469,-7.36375zM97.67719,35.75719c1.34375,-1.34375 3.50719,-1.34375 4.86438,0l4.82406,4.82406c1.34375,1.34375 1.34375,3.52063 0,4.86438c-0.67188,0.67187 -1.54531,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781l-4.82406,-4.82406c-1.34375,-1.34375 -1.34375,-3.52063 0,-4.86438zM89.09063,101.48l-4.46125,20.29063l-10.32,-18.23469l-20.64,1.72l14.09594,-15.48l-8.25063,-19.25594l18.92,8.6l15.82938,-13.76l-2.75469,21.32531l17.88531,10.66937zM121.85125,59.93125c-0.67187,0.67188 -1.54531,1.00781 -2.43219,1.00781c-0.87344,0 -1.76031,-0.33594 -2.43219,-1.00781l-4.82406,-4.82406c-1.34375,-1.34375 -1.34375,-3.53406 0,-4.86437c1.34375,-1.34375 3.52062,-1.34375 4.86437,0l4.82406,4.82406c1.34375,1.34375 1.34375,3.52062 0,4.86437zM136.33688,74.41688c-0.67188,0.67187 -1.54531,1.00781 -2.43219,1.00781c-0.87344,0 -1.76031,-0.33594 -2.43219,-1.00781l-4.82406,-4.82406c-1.34375,-1.34375 -1.34375,-3.52063 0,-4.86438c1.34375,-1.34375 3.52063,-1.34375 4.86438,0l4.82406,4.82406c1.34375,1.34375 1.34375,3.52063 0,4.86438z"></path></g></g>
</svg>
<h2>Movies</h2>

<form id='movieForm' action="/movieSearch" method="POST">
  <input type="text" class='info' name="movieSearchInput" placeholder="SEARCH for MOVIES!" >
<button type="submit">SEARCH MOVIES!</button>
</form>
</article>

<article id="books">
  <svg id="bookImage" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#34373d"><path d="M20.64,6.88c-7.59219,0 -13.76,6.16781 -13.76,13.76l0.05375,84.91156h0.05375c-0.02687,0.36281 -0.1075,0.71219 -0.1075,1.08844c0,7.59219 6.16781,13.76 13.76,13.76h41.28v-6.88h-41.28c-3.78937,0 -6.88,-3.09062 -6.88,-6.88c0,-3.78937 3.09063,-6.88 6.88,-6.88h41.28v-34.4c0,-11.38156 9.25844,-20.64 20.64,-20.64h20.64v-37.84zM30.96,24.08h48.16c1.89469,0 3.44,1.54531 3.44,3.44v6.88c0,1.89469 -1.54531,3.44 -3.44,3.44h-48.16c-1.89469,0 -3.44,-1.54531 -3.44,-3.44v-6.88c0,-1.89469 1.54531,-3.44 3.44,-3.44zM82.56,51.6c-7.59219,0 -13.76,6.16781 -13.76,13.76l0.05375,84.91156h0.05375c-0.02687,0.36281 -0.1075,0.71219 -0.1075,1.08844c0,7.59219 6.16781,13.76 13.76,13.76h82.56v-6.88h-82.56c-3.78937,0 -6.88,-3.09062 -6.88,-6.88c0,-3.78937 3.09063,-6.88 6.88,-6.88h82.56v-92.88zM92.88,68.8h48.16c1.89469,0 3.44,1.54531 3.44,3.44v6.88c0,1.89469 -1.54531,3.44 -3.44,3.44h-48.16c-1.89469,0 -3.44,-1.54531 -3.44,-3.44v-6.88c0,-1.89469 1.54531,-3.44 3.44,-3.44z"></path></g></g>
</svg>
  <h2>Books</h2>
  <form action="/bookSearch" method="POST" id='bookForm'>
    <input type="text" class='info' name="book_search_input" placeholder="SEARCH!" >
  <button type="submit">SEARCH BOOKS!</button>
  </form>
</article>

<article id="recipes">
  <svg id="recipeImage" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#34373d"><path d="M89.44,10.32c-1.892,0 -3.44,1.548 -3.44,3.44v10.32h6.88h48.16h1.31015h5.56985v-10.32c0,-0.2408 -0.03279,-0.47891 -0.06719,-0.68531c-0.3096,-1.5824 -1.72161,-2.75469 -3.37281,-2.75469zM148.32985,27.52l-0.40985,0.79281l-1.31015,2.64719l-2.12985,4.23281l-6.88,13.79359v105.8136v6.88h17.2c1.892,0 3.44,-1.548 3.44,-3.44v-110.08c0,-0.5504 -0.13545,-1.06371 -0.37625,-1.54531l-7.8139,-15.65469zM83.04375,30.96l-9.21812,13.76h8.28422h49.92031l6.88,-13.76h-47.61578zM72.24,51.6v17.2v3.44v17.06563c0.5848,-0.2064 1.1688,-0.37975 1.7536,-0.51735c0.3784,-0.1032 0.79066,-0.20667 1.16906,-0.27547c0.172,-0.0688 0.34535,-0.1075 0.51735,-0.1075l0.0336,-0.0336c0.2064,-0.0344 0.37813,-0.06638 0.58453,-0.10078c0.6536,-0.1032 1.30827,-0.20667 1.96187,-0.27547c0.2752,-0.0344 0.5848,-0.06638 0.86,-0.10078v-0.04031c0.344,-0.0344 0.68478,-0.06719 0.99437,-0.06719c0.6192,-0.0688 1.20911,-0.06719 1.79391,-0.06719c3.7496,0 7.28957,0.75895 10.45437,2.20375c0.688,0.3096 1.37546,0.64957 2.02906,1.02797c0.1376,0.0688 0.23946,0.13948 0.34265,0.20828c0.5848,0.344 1.17551,0.72267 1.76031,1.13547c0.0688,0.0344 0.13357,0.06558 0.16797,0.13438c0.6192,0.4128 1.23679,0.89494 1.78719,1.41094c0.82216,0.71896 1.59197,1.50924 2.32469,2.3314c0.56416,0.63296 1.10338,1.2806 1.6125,1.9686c0.21328,0.28896 0.41172,0.59775 0.61812,0.89359c0.4128,0.59856 0.81426,1.20798 1.18922,1.84094c0.19264,0.32336 0.37534,0.6507 0.55766,0.98094c0.3612,0.66048 0.70789,1.33762 1.03469,2.02906c0.1548,0.33024 0.31568,0.65053 0.4636,0.98765c0.3268,0.75336 0.61807,1.53021 0.90703,2.31797c0.76712,2.1156 1.40013,4.33333 1.86109,6.63813c0.3096,1.548 0.51331,3.16695 0.68531,4.78375c0.07224,0.60544 0.11981,1.20862 0.16797,1.81406c0.02064,0.25456 0.05671,0.50466 0.07391,0.75922c0.0516,0.79464 0.07342,1.59707 0.09406,2.39859c0.03096,1.49296 0.05569,2.98829 -0.02687,4.48813c0,0.2064 0.0008,0.44532 -0.0336,0.65172c-0.1032,1.892 -0.30933,3.78615 -0.58453,5.64375c-0.2064,1.2384 -0.41092,2.47707 -0.65172,3.71547c-0.4472,2.1328 -1.0328,4.26506 -1.6864,6.32906c-0.688,2.064 -1.44373,4.09279 -2.33813,6.05359c-0.6536,1.4792 -1.41255,2.9232 -2.20375,4.3336c-0.74992,1.28312 -1.54531,2.49771 -2.40531,3.71547c-0.79464,1.10424 -1.63217,2.16693 -2.51281,3.16453h0.03359h33.08985v-6.88v-103.2h-51.6h-1.58563h-2.92265zM17.2,68.8c-1.892,0 -3.44,1.548 -3.44,3.44v82.56c0,1.892 1.548,3.44 3.44,3.44h23.22c-0.7224,-1.1008 -1.34429,-2.236 -1.89469,-3.44c-0.1032,-0.1376 -0.16636,-0.31255 -0.23516,-0.45015c-0.4128,-0.8256 -0.79227,-1.6461 -1.10187,-2.5061c-0.0688,-0.172 -0.14029,-0.31175 -0.17469,-0.48375c-2.1328,-5.7792 -2.71438,-11.8688 -1.85438,-18.0264c0.344,-2.8208 0.99195,-5.64133 1.95515,-8.32453c0.4472,-1.2728 0.96401,-2.6144 1.68641,-4.3c3.4056,-7.5336 8.77737,-14.79093 14.96937,-20.39813c2.0984,-1.9264 4.39729,-3.75148 6.83969,-5.36828l0.62484,-0.40984l0.30906,-0.17469c0.344,-0.2408 0.6528,-0.44774 0.8936,-0.55094c0.9976,-0.6192 1.95945,-1.1704 2.92265,-1.6864v-16.44078v-3.44v-3.44zM81.90828,94.6c-0.8944,0 -1.82508,0.07068 -2.78828,0.20828c-1.1352,0.1376 -2.2704,0.34212 -3.44,0.65172c-0.8944,0.2064 -1.78558,0.516 -2.71437,0.86c-0.2408,0.0688 -0.45123,0.13867 -0.69203,0.24187h-0.0336c-2.1328,0.7912 -4.26265,1.89012 -6.42985,3.23172c-0.1376,0.0688 -0.27896,0.13867 -0.41656,0.24187c-0.3096,0.2064 -0.65118,0.41173 -0.96078,0.61813c-2.064,1.376 -4.09441,2.96216 -5.98641,4.71656c-5.6072,5.0568 -10.32215,11.45198 -13.38375,18.19438c-0.5504,1.2728 -1.03173,2.47787 -1.44453,3.68187c-0.86,2.4424 -1.37761,4.77999 -1.65281,6.94719c-0.8944,6.3296 0.24241,11.49014 1.65281,15.17094c0.2408,0.6536 0.516,1.30827 0.86,1.96187c0.27864,0.61576 0.65086,1.17879 0.97422,1.76703c0.30616,0.5676 0.56271,1.1596 0.92047,1.70656c0.0172,0.02408 0.03655,0.04638 0.05375,0.0739c0.7568,1.16272 1.60089,2.27035 2.52625,3.29891l0.06719,0.06719c2.5456,2.9928 5.78162,5.36318 9.35922,7.01437c3.5432,1.5824 7.46426,2.44563 11.48906,2.44563c6.1576,0 12.58879,-1.99466 18.12719,-6.32906c2.2704,-1.7544 4.40266,-3.95654 6.32906,-6.57094c1.5136,-2.0984 2.92131,-4.47227 4.12531,-7.15547c8.2216,-18.232 6.12374,-44.68211 -8.90906,-51.4589c-2.3392,-1.0664 -4.9149,-1.58563 -7.6325,-1.58563z"></path></g></g>
</svg>
  <h2>Recipes</h2>
  <form id='recipeForm' action="/recipeSearch" method="POST">
    <input type="text" class='info' name="recipeSearchInput" placeholder="SEARCH!" >
  <button type="submit">SEARCH RECIPES!</button>
  </form>
</article>

 </main>

<footer>
  <div id='darkModeSwitch'>
    <div< id="darkMode">
<div id="switch"></div>
</div>
</div>
  <ul>
    <li>
      <a href="https://github.com/quarantine-survival-kit/301d61-class-project">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="26" height="26"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#34373d"><path d="M19.84615,13.23077c-11.24099,0 -19.84615,8.60517 -19.84615,19.84615v105.84615c0,11.24099 8.60517,19.84615 19.84615,19.84615h132.30769c11.24099,0 19.84615,-8.60517 19.84615,-19.84615v-105.84615c0,-11.24099 -8.60517,-19.84615 -19.84615,-19.84615zM13.23077,46.30769h145.53846v92.61538c0,3.97957 -2.63581,6.61538 -6.61538,6.61538h-132.30769c-3.97956,0 -6.61538,-2.63581 -6.61538,-6.61538zM92.61538,59.53846l-26.46154,72.76923h13.23077l26.46154,-72.76923zM47.96154,68.42788l-23.56731,27.49519l23.56731,27.49519l9.92308,-8.68269l-16.125,-18.8125l16.125,-18.8125zM124.03846,68.42788l-9.92308,8.68269l16.125,18.8125l-16.125,18.8125l9.92308,8.68269l23.56731,-27.49519z"></path></g></g>
    </svg>
  </a>
    </li>
  
    <li>
      <a href="/aboutUs">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="24" height="24"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#34373d"><path d="M86,0c-43.5319,0 -78.83333,32.08203 -78.83333,71.66667c0,39.58464 35.30143,71.66667 78.83333,71.66667v28.66667c0,0 78.83333,-38.40885 78.83333,-100.33333c0,-39.58463 -35.30143,-71.66667 -78.83333,-71.66667zM94.76237,108.39583h-17.52474v-49.91472h17.52474zM86.02799,44.42774c-9.49023,0 -9.54622,-6.9987 -9.54622,-8.6224c0,-1.65169 0,-8.56641 9.54622,-8.56641c9.57422,0 9.54623,6.91472 9.54623,8.56641c0,1.62369 -0.05599,8.6224 -9.54623,8.6224z"></path></g></g>
    </svg>
    </a>
  </li>
  </ul>
  <script src='/JS/clickhandler.js' type="text/javascript"></script>
</footer>


</body>
</html>